.lupapassword-comp {
  z-index: 10;
  zoom: 1.1; }
  .lupapassword-comp .container-lupapassword {
    width: 100%;
    height: 101vh; }
    .lupapassword-comp .container-lupapassword .box-form-lupapassword {
      margin: 0 auto 0 auto;
      padding: 150px 0 0 0;
      max-width: 390px; }
      .lupapassword-comp .container-lupapassword .box-form-lupapassword .content {
        background-color: #FFFFFF;
        width: 300px;
        margin: auto;
        height: 300px; }
        @media (min-width: 480px) {
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content {
            width: 390px; } }
        .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .box-typeface-image {
          margin: 0 auto 0 auto;
          padding: 30px 0 0 0;
          max-width: 250px; }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .box-typeface-image .typeface-image {
            width: 100%; }
        .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .title {
          margin: 13px 0 0 0;
          text-align: center;
          font-size: 15px;
          font-weight: 700;
          color: #767676; }
        .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form {
          margin: 30px 0 0 0;
          padding: 0 20px;
          position: relative; }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form .text-danger {
            font-size: 12px;
            text-align: center;
            top: -22px;
            left: 50%;
            margin-left: -107px;
            position: absolute; }
          @media (min-width: 480px) {
            .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form {
              padding: 0 40px; } }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form form .form-input {
            margin: 0 0 13px 0; }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form form .add-checkbox {
            margin: 0px 0 0 0;
            float: left; }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form form .remember-me {
            margin: -1.5px 0 0 20px; }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .form form .block-checkbox {
            margin: 5px 0 15px -30px; }
        .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .forgot-password {
          margin: 15px 0 0 0;
          text-align: center; }
          .lupapassword-comp .container-lupapassword .box-form-lupapassword .content .forgot-password a {
            text-decoration: none; }